*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.font-family {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}


/* ============== header section =============== */

header {
   
    background-color: #FFF8F3;
    /* বেকগ্রাউন্ড ইমেইজ অ্যাড করার পরে বেকগ্রাউন্ড কালার চলে গেয়েছিল। ফিরিয়ে আনতে ইউআরএলের সাথে কমা দিয়ে বসিয়ে দেয়া হয়েছে। */
    padding-top: 51px;
    background: url("../images/prortfolio/developer.png"), url("../images/prortfolio/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right ;
}                                                                     


/* =============== navbar ================= */


.container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0px auto;
}

.highlight { color: #FD6E0A; }

.container .logo {
    font-size: 45px ;
    font-weight: 600;
    color: #474747;
   
   
}

 .container .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 51px;
}


.container .menu li {
    list-style: none;   
}


.container .menu li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}


.btn {
    background-color: #FD6E0A;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
    font-size: 20px ;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}
.btn i {
    margin-right: 10px;
}

.btn:hover {
    color: black;
    background-color: yellow;
}

/* =============== banner / hero ================= */



.banner-container {
   
    display: flex;
    margin: 46px 38px 0 230px;
    align-items: center;
    justify-content: space-between;
}

.banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
   
    
}
.banner-content p{
    max-width: 584px;    /* lekha zokhon bere gelo, tokhon tuitor ei width ta diyechen. fole lekha thik hoye geche*/
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;   /* নতুন বিষয়*/
}




 .banner-content .btn2 {
    
    gap: 10px;
    color: #FD6E0A;
    padding: 18px 36px;
    border-radius: 5px ;
    border:   #FD6E0A 1px solid;
    font-size: 20px ;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;
}

 .banner-content .btn2 i {
    margin-right: 10px;
 }

.btn2:hover {
    color: black;
    background-color: yellow;
}

.banner-container .banner-image img {
    max-width: 584px; 
    vertical-align: middle;  /*image er nic theke gap bad dite ei kaj kora hoyeche */
}


/* ============== about section =============== */
.about{
     padding-top: 130px;
}


.about .about-container {
   
    width: 71%;
    max-width: 1140px;
    text-align: center;
     padding: 131px 156px ;
     background-color: #FFF8F3;
     margin: 0 auto;
    

}

.section-heading{
    max-width: 827px;
     margin: 0px auto;
    
}


.section-heading h3 {
    font-size: 35px ;
    color: #181818;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-heading p {
    color: #757575;
   font-size:  18px;
    line-height: 30px;
   
    
}

.contact-info {
    max-width: 827px;
    /* border: #FD6E0A 1px solid; */
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    
}
.info-card p {
    /* border: #FD6E0A 1px solid; */
     font-size: 20px;
     line-height: 30px;
     color: #757575;
   
}

.info-card h4{
    font-size: 20px;
    line-height: 30px;
   
    
}






/* ==============skills section =============== */

.skills{
    padding-top: 130px;

}

.skills-container{
    
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}

.section-heading{
    max-width: 827px;
     margin: 0px auto;
    
}

.section-heading h3 {
    font-size: 35px ;
    color: #181818;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.section-heading p {
    color: #757575;
   font-size:  18px;
    line-height: 30px;
      text-align: center;
      margin-bottom: 50px;
   
    
}



.skill-box{
   
    display: flex;
    gap: 24px;
 
}

.skills-card{
     padding: 30px;
     max-width: 267px;
    
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #00000059;
}

.skill-box img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-box h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.skill-box p{
     color: #757575;
   font-size:  16px;
    line-height: 28px;

}





/* ==============skills section =============== */

.resume{
     padding-top: 130px;
}


.resume-container{
     width: 71%;
    max-width: 1140px;
    display: flex;
      margin: 113px auto 0;
     gap: 24px ;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}
.resume-container h3{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-container h4{
    font-size: 25px;
     color: #474747;
      margin-bottom: 10px;
      font-weight: 600;
}

.resume-container p{
    color: #757575;
    line-height: 28px;
    font-size: 16px;
}
.resume-container hr{
    margin: 30px 0px ;
}

.text-center{
    margin-top: 50px;
    text-align: center;
}





/* ============== footer section =============== */

.footer {
  margin-top: 113px;
  background-color: #FFF8F3;

}

.footer-container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 117px;
    padding: 130px 0px;
      
    
}

.footer-container h3{
    font-size: 35px;
    margin-bottom: 20px;
}




.footer-container .social{
    max-width: 562px;
}
.footer-container .social p{
    font-size: 16px;
    color: #474747;
     margin-bottom: 30px;
     line-height: 28px;
}


.footer-container .social img{
    max-width: 24px;
  margin-right: 24px;
}


.footer-container .contact{
    max-width: 562px;
}

.footer-container .contact input[type="text"], .footer-container .contact textarea{
    /* border: 1px solid red; */
   width: 461px;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    color: #757575;
    margin-bottom: 24px;

}


.hide {
    display: none !important;
}

@media screen and (max-width: 576px) {
    
.footer {
     width: 100%;
  margin-top: 50px;
  background-color: #FFF8F3;

}

.footer-container{
    width: 100%;
    flex-direction: column;
    gap: 117px;
    padding: 24px;
      
    
}
}